# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg
*.snupkg

# Logs
*.log

# Rider / JetBrains
.idea/
*.sln.iml

# VS Code
.vscode/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Arquivos temporários
*.tmp
*.temp

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper*